{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [
  {wok_message, ".*", {git, "git@github.com:homeswap/wok_message.git", {branch, "master"}}},
  {kafe, ".*", {git, "https://github.com/nexkap/kafe.git", {branch, "master"}}},
  {eutils, ".*", {git, "https://github.com/emedia-project/eutils.git", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {edown, ".*", {git, "https://github.com/uwiger/edown.git", {branch, "master"}}},
  {rebar_deps_graph, ".*", {git, "https://github.com/emedia-project/rebar_deps_graph.git", {branch, "master"}}}
]}.

{plugins, [deps_graph_plugin]}.

{eunit_opts, [
  verbose,
  {report,{eunit_surefire,[{dir,"."}]}}
]}.

{edoc_opts, [{doclet, edown_doclet}
             , {app_default, "http://www.erlang.org/doc/man"}
             , {new, true}
             , {packages, false}
             , {stylesheet, ""}   % don't copy stylesheet.css
             , {image, ""}        % don't copy erlang.png
             , {top_level_readme, {"./documentation.md", "https://github.com/homeswap/wok"}}
            ]}.
