{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {wok_message_handler, ".*", {git, "git@gitlab.scalezen.com:msaas/wok_message_handler.git", {branch, "master"}}},
  {pipette, ".*", {git, "git@gitlab.scalezen.com:msaas/pipette.git", {branch, "master"}}},
  {kafe, ".*", {git, "https://github.com/homeswap/kafe.git", {branch, "master"}}},
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
  {eutils, ".*", {git, "https://github.com/emedia-project/eutils.git", {branch, "master"}}},
  {edown, ".*", {git, "https://github.com/homeswap/edown.git", {branch, "master"}}},
  {rebar_deps_graph, ".*", {git, "https://github.com/emedia-project/rebar_deps_graph.git", {branch, "master"}}}
]}.

{plugins, [deps_graph_plugin]}.

{edoc_opts, [{doclet, edown_doclet}
             , {app_default, "http://www.erlang.org/doc/man"}
             % , {new, true}
             % , {packages, false}
             , {source_path, ["src"]}
             , {overview, "overview.edoc"}
             , {stylesheet, ""}   % don't copy stylesheet.css
             , {image, ""}        % don't copy erlang.png
             , {edown_target, gitlab}
             , {top_level_readme, {"./README.md", "https://gitlab.scalezen.com/msaas/wok"}}
            ]}.
