[{xref, [
  {config, #{extra_paths => [
    "deps/cowboy/ebin",
    "deps/cowlib/ebin",
    "deps/edown/ebin",
    "deps/eutils/ebin",
    "deps/goldrush/ebin",
    "deps/kafe/ebin",
    "deps/lager/ebin",
    "deps/pipette/ebin",
    "deps/ranch/ebin",
    "deps/wok_message/ebin",
    "deps/wok_message_handler/ebin"
  ]}},
  {checks, [ 
    undefined_functions
    , locals_not_used
    , deprecated_function_calls
  ]}
]}].
