[
  {wok, [
    {messages, [
      {handler, wok_message},
      {controlers, [
        {<<"my_service/my_controler/my_action">>, {dummy_service_handler, my_action}},
        {<<"my_service/my_controler/my_answer">>, {dummy_service_handler, my_answer}}
      ]},
      {consumer_group, <<"MyConsumer">>},
      {local_queue_name, <<"my_local_queue">>},
      {local_consumer_group, <<"MyLocalConsumer">>},
      {max_services_fork, 3},
      {topics, [
        % {topic name, options}
        {<<"test">>, [{fetch_frequency, 5000}, {max_bytes, 10485760}, {max_messages, 1000}]},
        {<<"repl">>, [{fetch_frequency, 8000}, {max_bytes, 10485760}, {max_messages, 1000}]},
        {<<"public">>, [{fetch_frequency, 5000}, {max_bytes, 10485760}, {max_messages, 1000}]},
        {<<"service">>, [{fetch_frequency, 10000}, {max_bytes, 10485760}, {max_messages, 1000}]}
      ]}
    ]}
  , {initializer, [
      {dummy_initializer, [dummy_initializer, state]}
    ]}
  , {middlewares, [
      {dummy_middleware, [
        no_route_prefix, 
        {route_prefix, "/dummy"},
        {route, "/dummy_get", "/get_folks"},
        {init, [dummy_middleware, state]}
      ]}
    ]}
  , {plugins, [
      {dummy_plugin, [
        {foo, {'*', '*', [saturday, sunday, monday], '*', '*', '*/5'}},
        {bar, {'*', '*', '*', '*', '*', '*/5'}},
        {baz, {2020, 1, 1, 0, 0, 0}}
      ], [<<"test">>, 0]}
    ]}
  , {rest, [
      {port, 8080},
      {ip, "0.0.0.0"},
      {max_conn, 100},
      {routes, [
        {'GET', "/my_service", {dummy_service_handler, my_service_get}},
        {'GET', "/my_service2", {dummy_service_handler, my_service_get2}},
        {'POST', "/my_service", {dummy_service_handler, my_service_post}},
        {'WS', "/ws", dummy_service_handler}
      ]},
      {cors, [
        {'Access-Control-Allow-Methods', [<<"GET">>, 
                                          <<"POST">>, 
                                          <<"PUT">>, 
                                          <<"HEAD">>, 
                                          <<"OPTIONS">>, 
                                          <<"DELETE">>]},
        {'Access-Control-Allow-Origin', <<"*">>},
        {'Access-Control-Expose-Headers', [<<"X-My-Custom-Header">>,
                                           <<"X-Another-Custom-Header">>]},
        {'Access-Control-Max-Age', 1728000},
        {'Access-Control-Allow-Credentials', true},
        {'Access-Control-Allow-Headers', [<<"Access-Control-Allow-Origin">>, 
                                          <<"Authorization">>, 
                                          <<"Origin">>, 
                                          <<"x-requested-with">>, 
                                          <<"Content-Type">>, 
                                          <<"Content-Range">>, 
                                          <<"Content-Disposition">>, 
                                          <<"Content-Description">>]}
      ]}
    ]}
  ]},
  {kafe, [
    {brokers, [
      {"localhost", 9092}
    ]},
    {client_id, <<"kafe">>},
    {api_version, 0},
    {correlation_id, 0},
    {socker, [
      {sndbuf, 4194304},
      {recbuf, 4194304},
      {buffer, 4194304}
    ]}
  ]},
  {pipette, [
    {segment_path, "./queues"},
    {segment_memory_size, 10485760}, % B
    {segment_file_size, 1073741824}, % B
    {segment_flush_frequency, 0}, % ms (if = 0 flush every new data; if -1 never flush))
    {retention_hours, 1680}, % hours -- default 128
    {retention_check_interval, 300000} % ms
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [info, {lager_default_formatter, [date, " ", time," [",severity,"] -- ", module, ":", function, " (", pid, "/", line, ") -- ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/wok_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/wok_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/wok_console.log"}, {level, info}]}
    ]}
  ]}
].
