[
  {wok, [
    {messages, [
      {services, [
        % {service name, module name}
        {<<"my_service">>, dummy_service_handler}
      ]},
      {consumer_group, <<"MyConsumer">>},
      {max, 3},
      {topics, [
        % {topic name, options}
        {<<"test">>, [{fetch_frequency, 5000}, {max_bytes, 10485760}]},
        {<<"public">>, [{fetch_frequency, 5000}, {max_bytes, 10485760}]},
        {<<"service">>, [{fetch_frequency, 10000}, {max_bytes, 10485760}]}
      ]}
    ]}
    , {rest, [
      {port, 8080},
      {ip, "0.0.0.0"},
      {max_conn, 100},
      {routes, [
        {'GET', "/my_service", {dummy_service_handler, my_service}},
        {'POST', "/my_service", {dummy_service_handler, my_service_post}}
      ]}
    ]}
  ]},
  {kafe, [
    {brokers, [
      {"kafka1-paris.finexkap.paris", 9092}
    ]},
    {client_id, <<"kafe">>},
    {api_version, 0},
    {correlation_id, 0}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [info, {lager_default_formatter, [date, " ", time," [",severity,"] -- ", module, ":", function, " (", pid, "/", line, ") -- ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/wok_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/wok_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/wok_console.log"}, {level, info}]}
    ]}
  ]}
].
