[
  {wok, [
    {services, [
      % {service name, module name}
      {<<"my_service">>, dummy_service_module}
    ]},
    {consumer_group, <<"MyConsumer">>},
    {max_messages, 3},
    {topics, [
      % {topic name, options}
      {<<"test">>, [{fetch_frequency, 5000}, {max_bytes, 10485760}]},
      {<<"public">>, [{fetch_frequency, 5000}, {max_bytes, 10485760}]},
      {<<"service">>, [{fetch_frequency, 10000}, {max_bytes, 10485760}]}
    ]}
  ]},
  {kafe, [
    {brokers, [
      {"kafka1-paris.finexkap.paris", 9092}
    ]},
    {client_id, <<"kafe">>},
    {api_version, 0},
    {correlation_id, 0}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [info, {lager_default_formatter, [date, " ", time," [",severity,"] -- ", module, ":", function, " (", pid, "/", line, ") -- ", message, "\n"]}]},
      {lager_file_backend, [{file, "log/wok_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/wok_debug.log"}, {level, debug}]},
      {lager_file_backend, [{file, "log/wok_console.log"}, {level, info}]}
    ]}
  ]}
].
